<html>
	<form method="post">
		<!--<p>Enter Your Wallet Address:  &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="wallet_s" /></p>
		<br>
		<p>Enter Receiver's Wallet Address: <input type="text" name="wallet_r" /></p>-->
		<br>
		<table>
			<tr>
				<td> <font size="5"> Enter Your Wallet Address: </font> </td>
				<td> <input type="text" name="wallet_s" size="50" /> </td>
			</tr>
			<tr><td></td><td></td></tr>
			<tr><td></td><td></td></tr>
			<tr><td></td><td></td></tr>
			<tr>
				<td> <font size="5"> Enter Receiver's Wallet Address: </font> </td>
				<td> <input type="text" name="wallet_r" size="50" /> </td>
			</tr>
			<tr><td></td><td></td></tr>
			<tr><td></td><td></td></tr>
			<tr><td></td><td></td></tr>
			<tr>
				<td> <font size="5"> Enter Your Private Key: </font> </td>
				<td> <input type="text" name="private" size="50" /> </td>
			</tr>
			<tr><td></td><td></td></tr>
			<tr><td></td><td></td></tr>
			<tr><td></td><td></td></tr>
			<tr>
				<td> <font size="5"> Enter Amount: </font> </td>
				<td> <input type="text" name="amt" size="50" /> </td>
			</tr>
			<tr><td></td><td></td></tr>
			<tr><td></td><td></td></tr>
			<tr><td></td><td></td></tr>
			<tr>
				<td></td>
				<td> <input type="submit" value="Transfer" /> </td>
			</tr>
		</table>
	</form>
</html>
